
<div class = "container homeContainer">






    <row class="homeDiv">



        <div class = "priceBox">
          <h3>Bitcoin</h3>
          <p class=usdPrice>$ {{price}}</p>
          <h2>24 Hour Rate</h2>
          <p class=changeRate>{{changeRate}} %</p>
        </div>



    <div class="chartContainer">
      <div class="currency-buttons">
        <button name="button">Bitcoin</button>
        <button name="button">Litecoin</button>
        <button name="button">Ethereum</button>
      </div>

      <monthchart></monthchart>


    </div>





    <!-- homediv and container -->
  </row>


  <div class="lander">

  </div>


  <div style="height: 500px">

  </div>


</div>
